Repository yunnas-dev/PublicMirror, changes with the labels that .github/labeler.yml gives for each.
All labels: chart, documentation, schema, workflow

.github/labeler.yml:

chart:
  - charts/**/*

documentation:
  - docs/**/*
  - README.md
  - charts/**/README.md

schema:
  - charts/**/values.schema.json

workflow:
  - .github/**/*

Update: 更新权限
  .github/scripts/validate-chart.sh
Labels: workflow

新增 Helm Chart 验证脚本，检查必需文件和模板的存在性
  .github/scripts/validate-chart.sh
Labels: workflow

删除旧的 Helm Chart 验证脚本，并更新工作流配置以支持新的 Chart 结构验证
  .github/scripts/validate-chart.sh
  .github/workflows/pr-check.yaml
Labels: workflow

更新 Helm Chart 验证脚本，翻译错误信息为中文以提高可读性
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 工作流配置，新增自动回复失败检查的功能并添加权限配置
  .github/workflows/permissions.yml
  .github/workflows/pr-check.yaml
Labels: workflow

更新权限配置，新增对主分支和测试分支的推送及拉取请求事件的支持
  .github/workflows/permissions.yml
Labels: workflow

更新 PR 工作流配置，新增对拉取请求的检查和 Helm Chart 验证功能
  .github/workflows/pr-check.yaml
Labels: workflow

更新Redis服务的targetPort为6379。
  charts/stable/redis/templates/service.yaml
Labels: chart

删除旧的权限配置文件，并更新 PR 检查工作流以改进 Helm Chart 验证流程
  .github/workflows/bot-response.yaml
  .github/workflows/permissions.yml
  .github/workflows/pr-check.yaml
Labels: workflow

更新Redis部署和服务配置，增加环境变量、资源请求与限制、卷挂载以及持久化声望配置。
  charts/stable/redis/templates/deployment.yaml
  charts/stable/redis/templates/service.yaml
Labels: chart

更新 labeler 工作流，修改 GitHub 令牌变量为 GH_TOKEN
  .github/workflows/labeler.yml
Labels: workflow

更新工作流，修改 yq 安装方式为直接下载并设置执行权限
  .github/workflows/bot-response.yaml
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，新增对镜像仓库、持久化配置、资源限制配置和模板文件的验证
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，增加对镜像仓库、持久化配置、资源限制配置和模板文件的验证，并修复 Chart 版本更新检查逻辑
  .github/workflows/bot-response.yaml
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查和响应工作流，优化错误处理和状态检查逻辑，增加对变更目录的获取和验证
  .github/workflows/bot-response.yaml
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查和响应工作流，优化错误处理逻辑，增强对变更目录的获取和验证
  .github/workflows/bot-response.yaml
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，增强错误处理，新增对 Chart 版本更新的验证，并创建 PR 评论以反馈验证结果
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，修改 GitHub 令牌的引用方式
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，优化 Chart 验证逻辑，改进错误处理并增强版本检查
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，优化文件输出格式，增强对 Chart 目录和文件的验证，改进错误信息处理，并添加版本检查逻辑
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR Bot 响应工作流，增强错误处理，添加 GitHub 令牌引用，确保评论和标签功能正常
  .github/workflows/bot-response.yaml
  .github/workflows/pr-check.yaml
Labels: workflow

更新工作流，统一 GitHub 令牌引用方式，确保一致性和安全性
  .github/workflows/bot-response.yaml
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，调整权限设置，修改 GitHub 令牌引用方式，并优化 Helm 相关步骤
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，优化 Chart 验证逻辑，增强错误处理，添加状态检查步骤，并确保所有必需文件和字段完整
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，增强 Chart 验证逻辑，改进错误处理，添加详细的验证结果输出，并确保所有必需文件和字段完整
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，优化文件变动检测逻辑，改进 Helm 校验流程，并调整验证结果输出
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，优化文件变动检测逻辑，确保输出格式正确，并添加调试信息以便于跟踪修改的 Chart
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，优化文件变动检测逻辑，增强 Chart 验证流程，添加版本检查和错误处理，并确保所有必需文件和字段完整
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，优化文件变动检测逻辑，确保正确获取修改的 Chart 目录，并改进错误处理
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，添加调试输出以跟踪修改的文件和目录，增强版本检查逻辑，并改进错误处理
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，优化获取修改文件的逻辑，添加对 Chart.yaml 和 values.yaml 文件的存在性检查，并改进错误处理
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，添加对 _helpers.tpl 文件的验证，检查缺少的定义，并改进错误处理逻辑
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，提取 Chart 名称以增强 _helpers.tpl 验证逻辑，并优化错误处理输出格式
  .github/workflows/pr-check.yaml
Labels: workflow

更新 PR 检查工作流，修复 GH_TOKEN 环境变量的引用，以确保正确获取 GitHub 令牌
  .github/workflows/pr-check.yaml
Labels: workflow

添加 Ubuntu SSH 服务器 Helm Chart，支持多版本 Ubuntu，预装 OpenSSH 服务，包含详细的配置参数说明、部署步骤及故障排除指导。新增配置映射、持久化存储、服务定义、部署模板及值文件等相关文件。
  charts/stable/ubuntu-ssh/Chart.yaml
  charts/stable/ubuntu-ssh/README.md
  charts/stable/ubuntu-ssh/templates/_helpers.tpl
  charts/stable/ubuntu-ssh/templates/configmap.yaml
  charts/stable/ubuntu-ssh/templates/deployment.yaml
  charts/stable/ubuntu-ssh/templates/pvc.yaml
  charts/stable/ubuntu-ssh/templates/service.yaml
  charts/stable/ubuntu-ssh/values.schema.json
  charts/stable/ubuntu-ssh/values.yaml
Labels: chart, documentation, schema

新增图标链接到 Chart.yaml 文件中。
  charts/stable/ubuntu-ssh/Chart.yaml
Labels: chart

更新配置文件，以改进额外用户创建逻辑，确保只有在定义了额外用户时才进行用户添加，并优化了代码结构。
  charts/stable/ubuntu-ssh/templates/configmap.yaml
Labels: chart

移除redis.selectorLabels的包含，优化模板部署配置。
  charts/stable/redis/templates/deployment.yaml
Labels: chart

更新 PR 检查工作流，修复 GH_TOKEN 环境变量的引用，改为使用 GITHUB_TOKEN
  .github/workflows/pr-check.yaml
Labels: workflow

无代码更改
  .github/workflows/pr-check.yaml
Labels: workflow
